$dark: rgb(48, 48, 48);
$background: rgb(40, 40, 53);
$light: rgb(220,220,220);
$blue: rgb(11, 48, 78);
$lightblue: rgb(25, 72, 126);
$green: rgb(33, 87, 100);
$inputcolor: rgb(2, 67, 70);
$shadow: rgb(26, 26, 26)