@use "./_colors" as *;

.App {
  background-color: $background;
  box-shadow: 0 0 1em $shadow;
  text-align: center;
  overflow: hidden;
  margin: 15vh auto;
  width: 70%;
  min-width: 300px;
  max-width: 540px;
  min-height: 400px;
  padding-top: 10px;
  border-radius: 3%;
  @media screen and (width < 540px) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}