@use "./_colors" as *;

.City {
  text-transform: capitalize;
}

.ring {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid $blue;
  background-color: $ringBackground;
  .N,
  .E,
  .S,
  .W {
    font-size: 10px;
    color: $light;
    position: relative;
  }

  .arrows {
    font-size: 40px;
    position: relative;
    top: -1.25em;
    padding-bottom: 7px;
  }
  .N {
    top: -1em;
  }
  .E {
    top: 1.5em;
    right: -4.1em;
  }
  .S {
    bottom: -4.2em;
  }
  .W {
    top: -1.5em;
    left: -4.1em;
  }
}

p {
  margin: 4px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  margin: 4px;
}
