@use "./_colors" as *;

.City {
  text-transform: capitalize;
}

.ring {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid $blue;
  background-color: $ringBackground;
  position: relative;
  .N,
  .E,
  .S,
  .W {
    font-size: 10px;
    color: $light;
    position: absolute;
  }

  .arrows {
    width: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -8px;
  }
  .N {
    top: -10%;
    left: 40%;
  }
  .E{
    top: 40%;
    left: 90%;
  }
  .S{
    top: 90%;
    left: 40%;
  }
  .W{
    top: 40%;
    left: -10%;
  }
}

p {
  margin: 4px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  margin: 4px;
}
